.mar
		     {
			 margin-right:30px;
		
             }
a:hover,a1:hover
			 {
			   background-color: darkkhaki;
			 }
.bg{
	background-color: darkkhaki;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}
.bg-secondary {
	background-color:#ab10f27a!important;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #17a2b8;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}